<!DOCTYPE html>
<html lang="es">

<!-- Bootstrap -->
!
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
<!-- font awesome cdn link  -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

<body class="crear-editar">
        <main>
            <h1>Creando un producto nuevo</h1>
            <form action="/admin/create" method="post" enctype="multipart/form-data">
                <section>
                    <div class="form-floating m-2">
                        <input type="text" name="Marca" class="form-control" id="marca" value="<%= locals.old && old.Marca ? old.Marca : null%>" placeholder="Marca">
                        <label for="marca">Marca</label>
                        <p class="span text-danger">
                            <%= locals.errors && errors.Marca ? errors.Marca.msg : null %>
                        </p>
                                                
                    </div>
                    <div class="form-floating">
                        <input type="text" name="Titulo" class="form-control" id="Titulo"value="<%= locals.old && old.Titulo ? old.Titulo : null%>" placeholder="Titulo">
                        <label for="Titulo">Titulo</label>
                        <p class="span text-danger">
                            <%= locals.errors && errors.Titulo ? errors.Titulo.msg : null %>
                        </p>                        
                    </div>
                    <div class="form-floating m-2">
                        <select class="form-select" name="Categoria" id="floatingSelect"value="<%= locals.old && old.Categoria ? old.Categoria : null%>"
                            aria-label="Floating label select example">
                            <% if (locals.errors && old.categoria) { %>
                                <option hidden value="">Selecciona una opcion</option>
                                <option <%= old.categoria === "Smartphones" ? "selected" : null %>  value="Smartphones">Smartphones</option>
                                <option <%= old.categoria === "Tablets" ? "selected" : null %>   value="Tablets">Tablets</option>
                                <option <%= old.categoria === "Notebooks" ? "selected" : null %>   value="Notebooks">Notebooks</option>
                            <% }else{ %>
                                <option selected hidden value="">Selecciona una opcion</option>
                                <option value="Smartphones">Smartphones</option>
                                <option value="Tablets">Tablets</option>
                                <option value="Notebooks">Notebooks</option>
                            <% } %>
                        </select>
                        <label for="floatingSelect">Categoria</label>

                        <p class="span text-danger">
                            <%= locals.errors && errors.Categoria ? errors.Categoria.msg : null %>
                        </p>                          
                    </div>
                    <div class="form-floating m-2">
                        <input type="number" name="Precio" class="form-control" id="Precio" value="<%= locals.old && old.Precio ? old.Precio : null%>" placeholder="Precio">
                        <label for="Precio">Precio</label>

                        <p class="span text-danger">
                            <%= locals.errors && errors.Precio ? errors.Precio.msg : null %>
                        </p>                            
                    </div>
                    <div class="form-floating m-2">
                        <input type="number" name="Descuento" class="form-control" id="Descuento" value="<%= locals.old && old.Descuento ? old.Descuento : null%>" value="0"
                            placeholder="Descuento">

                            <p class="span text-danger">
                                <%= locals.errors && errors.Descuento ? errors.Descuento.msg : null %>
                            </p>                            
                    </div>
                    <div class="form-floating m-2">
                        <input type="number" name="Stock" class="form-control" id="Stock" value="<%= locals.old && old.Stock ? old.Stock : null%>" placeholder="Stock">
                        <label for="Stock" value="1">Stock</label>
                        <p class="span text-danger">
                            <%= locals.errors && errors.Stock ? errors.Stock.msg : null %>
                        </p>  
                    </div>
                    <!-- preguntar

                    <div class="form-floating m-2">
                        <textarea class="form-control" name="Descripcion"
                            placeholder="Por favor inserte la descripcion del producto"
                            id="floatingTextarea">value="<%= locals.old && old.Descripcion ? old.Descripcion : null%>" </textarea>
                        <label for="floatingTextarea">Descripcion</label>
                        -->

                        <p class="span text-danger">
                            <%= locals.errors && errors.Descripcion ? errors.Descripcion.msg : null %>
                        </p>                          
                    </div>
                    <div class="mb-3">
                        <label for="formFileMultiple" class="form-label">Subir imagenes del producto</label>
                        <input class="form-control" name="imagenes" type="file" id="formFileMultiple" multiple>
                        <small>Obligatorio</small>
                    </div>

                    <div class="button">
                        <button class="btn btn-outline-success" type="submit">Crear Producto</button>
                    </div>

                </section>
            </form>
        </main>
</body>

</html>