<!DOCTYPE html>
<html lang="es">

    <%- include('./partials/head') %> 

    <body class="editar">

    <%- include('./partials/header') %> 

    <main>
        <h1>editar Producto</h1>
  
        <form action="/admin/edit" method="post" enctype="multipart/form-data">
            <section>
                <div class="form-floating m-2">
                    <input type="text" name="Marca" class="form-control" id="marca" value="<%=locals.old && old.marca ?old.marca: null %>" placeholder="Marca">
                    <label for="marca">Marca</label>
                    <% if (locals.errors && errors.marca) { %>
                        <small><%= errors.marca.msg %> </small>
                    <% } %>
                </div>
                <div class="form-floating m-2">
                    <input type="text" name="Titulo" class="form-control" id="Titulo" value="<%=locals.old && old.titulo ?old.titulo: null %>" placeholder="Titulo">
                    <label for="Titulo">Titulo</label>
                    <% if (locals.errors && errors.titulo) { %>
                        <small><%= errors.titulo.msg %> </small>
                    <% } %>                    
                </div>
                <div class="form-floating m-2">
                    <select class="form-select" name="Categoria" id="floatingSelect" aria-label="Floating label select example">
                      <option selected hidden>Selecciona una opcion</option>
                      <option value="Smartphones">Smartphones</option>
                      <option value="Tablets">Tablets</option>
                      <option value="Teclados y mouses">Teclados y mouses</option>
                      <option value="Oficina">Oficina</option>
                      <option value="Mothers y combos">Mothers y combos</option>
                      <option value="Memorias Ram">Memorias Ram</option>
                      <option value="Monitores y Televisores">Monitores y Televisores</option>
                      <option value="Joysticks y periféricos">Joysticks y periféricos</option>
                      <option value="Consolas de Video">Consolas de Video</option>
                      <option value="Equipos y Notebooks">Equipos y Notebooks</option>
                      <option value="Placas de Video y otras">Placas de Video y otras</option>

                    </select>
                    <label for="floatingSelect">Categoria</label>
                    <% if (locals.errors && errors.categoria) { %>
                        <small><%= errors.categoria.msg %> </small>
                    <% } %>                       
                  </div>
                <div class="form-floating m-2">
                    <input type="number" name="Precio" class="form-control" id="Precio"value="<%=locals.old && old.precio ?old.precio: null%>" placeholder="Precio">
                    <label for="Precio">Precio</label>
                    <% if (locals.errors && errors.precio) { %>
                        <small><%= errors.precio.msg %> </small>
                    <% } %>
                </div>
                <div class="form-floating m-2">
                    <input type="number" name="Descuento" class="form-control" id="Descuento" value="<%=locals.old && old.descuento ? old.descuento: null%>" placeholder="Descuento">
                    <label for="Descuento">Descuento</label>
                    <% if (locals.errors && errors.descuento) { %>
                        <small><%= errors.descuento.msg %> </small>
                    <% } %>
                </div>
                <div class="form-floating m-2">
                    <input type="number" name="Stock" class="form-control" id="Stock" value="<%=locals.old && old.stock ?old.stock: null %>" placeholder="Stock">
                    <label for="Stock" value="1">Stock</label>
                    <% if (locals.errors && errors.stock) { %>
                        <small><%= errors.stock.msg %> </small>
                    <% } %>
                </div>
                <div class="form-floating">
                    <input type="text" class="form-control" id="description" placeholder="Descripción" name="Descripcion" value="">
                    <label for="floatingTextarea">Descripcion</label>
                    <% if (locals.errors && errors.descripcion) { %>
                        <small><%= errors.descripcion.msg %> </small>
                    <% } %>              
                </div>
  
                <div class="mb-3">
                    <label for="formFileMultiple" class="form-label">Subir imagenes del producto</label>
                    <input class="form-control" type="file" id="formFileMultiple"  value="<%= locals.old && old.imagen ? old.nombre: null %>"name="imagen" multiple>
                    <% if (locals.errors && errors.imagen) { %>
                        <small><%= errors.imagen.msg %> </small>
                    <% } %>                
                </div>
  
  
                
                
                <div class="button">
                    <button class="btn btn-outline-success" type="submit">editar Producto</button>
                </div>
                
            </section>
        </form>
    </main>
    <%- include('./partials/footer') %> 

</body>

</html>