<!DOCTYPE html>
<html lang="es">

<%- include('./partials/head') %>

    <body>

        <!-- header section start  -->

        <%- include('./partials/header') %>

            <main  class="home">
                
                <section class="section-home">

                    <h1 class="welcome">BIENVENIDO<span class="span-color">A TECNOLIFE</span></h1>
              
                    <!-- Section Slider start -->
              
                    <div class="home-slider" id="home-slider">
              
                      <div class="container-slider">
              
                        <div class="slider" id="slider">
                          <div class="slider__section">
                            <img src="/img/slider/slider-1.jpg" alt="" class="slider__img">
                          </div>
                          <div class="slider__section">
                            <img src="/img/slider/slider-2.jpg" alt="" class="slider__img">
                          </div>
                          <div class="slider__section">
                            <img src="/img/slider/slider-3.jpg" alt="" class="slider__img">
                          </div>
                          <div class="slider__section">
                            <img src="/img/slider/slider-4.jpg" alt="" class="slider__img">
                          </div>
                        </div>
              
                        <div class="slider__btn slider__btn--right" id="btn-right">&#62;</div>
                        <div class="slider__btn slider__btn--left" id="btn-left">&#60;</div>
              
                      </div>
                    </div>
              
              
                    <!-- Start section marcas -->
              
                    <section class="simple-cards" id="simple-cards">
              
                      <h1 class="heading">#Marcas <span>destacadas</span> </h1>
              
                      <div class="box-simple-cards">
                        <% for( let i = 0; i < 8; i++ ) { %>
                            <div class="simple-card">
                                <div
                                    class="card-img-background"
                                    style="background-image: url('/img/products/<%=marcas[i].imagen%>')"
                                ></div>
                                <h3><%= marcas[i].nombre %> </h3>
                                <a href="/products/marca/<%= marcas[i].id %> " class="btn">Ver productos</a>
                            </div>
                        <% } %> 
                    </section>
              
                  </section>

               <!-- Ofertas en Smarts Tv -->
                <section>
                <h1 class="heading">#Ofertas en <span>Smart Tv</span> </h1>
                <div class="article">
                    <div class="slide-container swiper">
                        <div class="slide-content">
                            <div class="card-wrapper swiper-wrapper">
                                <% smarts.forEach(producto=> { %>
                                    <div class="card swiper-slide">
                                        <div class="img-product">
                                            <a href="/products/detail/<%= producto.id %> ">
                                                <img class="item" src="/img/products/<%= producto.imagenes[0].nombre%>"alt="Notebook-spin">
                                            </a>
                                        </div>

                                        <div class="show-details">
                                            <span class="show_name">
                                                <%= producto.nombre %>
                                            </span>
                                            <p>
                                                <% if (producto.descripcion.length > 50) { %>
                                                    <%- `${producto.descripcion.slice(0,100)}...` %>
                                                <% } else { %>
                                                    <%= producto.descripcion %>
                                                <% } %>
                                            </p>
                                        </div>

                                        <div class="color-price">

                                            <div class="color-option">
                                                <span class="color">Precio:</span>
                                            </div>

                                            <div class="price">
                                                <span class="price_num">$<%=producto.precio%></span>
                                                <span class="price_letter">Precio lista</span>
                                            </div>

                                        </div>

                                        <div class="button">
                                            <div class="button-layer"></div>
                                            <button><a href="/carrito"></a>Añadir al carrito</button>
                                        </div>

                                        <div class="button">
                                            <div class="button-layer"></div>
                                            <a href="/products/detail/<%= producto.id %>"><button>Ver Detalles</button></a>
                                        </div>

                                    </div>
                                    <div class="swiper-pagination"></div>
                                <% }) %>
                            </div>
                        </div>
                    </div>
                </div>
                </section>
            <!-- Ofertas en Notebooks -->
                <section>
                <h1 class="heading">#Ofertas en <span>notebooks</span> </h1>
                <div class="article">
                    <div class="slide-container swiper">
                        <div class="slide-content">
                            <div class="card-wrapper swiper-wrapper">
                                <% ofertasNotebooks.forEach(producto=> { %>
                                    <div class="card swiper-slide">
                                        <div class="img-product">
                                            <a href="/products/detail/<%= producto.id %> ">
                                                <img class="item" src="/img/products/<%= producto.imagenes[0].nombre%>"alt="Notebook-spin">
                                            </a>
                                        </div>

                                        <div class="show-details">
                                            <span class="show_name">
                                                <%= producto.nombre %>
                                            </span>
                                            <p>
                                                <% if (producto.descripcion.length > 50) { %>
                                                    <%- `${producto.descripcion.slice(0,100)}...` %>
                                                <% } else { %>
                                                    <%= producto.descripcion %>
                                                <% } %>
                                            </p>
                                        </div>

                                        <div class="color-price">

                                            <div class="color-option">
                                                <span class="color">Precio:</span>
                                            </div>

                                            <div class="price">
                                                <span class="price_num">$<%=producto.precio%></span>
                                                <span class="price_letter">Precio lista</span>
                                            </div>

                                        </div>

                                        <div class="button">
                                            <div class="button-layer"></div>
                                            <button><a href="/carrito"></a>Añadir al carrito</button>
                                        </div>

                                        <div class="button">
                                            <div class="button-layer"></div>
                                            <a href="/products/detail/<%= producto.id %>"><button>Ver Detalles</button></a>
                                        </div>

                                    </div>
                                    <div class="swiper-pagination"></div>
                                <% }) %>
                            </div>
                        </div>
                    </div>
                </div>
                </section>
            <!-- Ofertas en Celulares -->
                <section>
                <h1 class="heading">#Ofertas en <span>Celulares</span> </h1>
                <div class="article">
                    <div class="slide-container swiper">
                        <div class="slide-content">
                            <div class="card-wrapper swiper-wrapper">
                                <% ofertasCelulares.forEach(producto=> { %>
                                    <div class="card swiper-slide">
                                        <div class="img-product">
                                            <a href="/products/detail/<%= producto.id %> ">
                                                <img class="item" src="/img/products/<%= producto.imagenes[0].nombre%>"alt="Notebook-spin">
                                            </a>
                                        </div>

                                        <div class="show-details">
                                            <span class="show_name">
                                                <%= producto.nombre %>
                                            </span>
                                            <p>
                                                <% if (producto.descripcion.length > 50) { %>
                                                    <%- `${producto.descripcion.slice(0,100)}...` %>
                                                <% } else { %>
                                                    <%= producto.descripcion %>
                                                <% } %>
                                            </p>
                                        </div>

                                        <div class="color-price">

                                            <div class="color-option">
                                                <span class="color">Precio:</span>
                                            </div>

                                            <div class="price">
                                                <span class="price_num">$<%=producto.precio%></span>
                                                <span class="price_letter">Precio lista</span>
                                            </div>

                                        </div>

                                        <div class="button">
                                            <div class="button-layer"></div>
                                            <button><a href="/carrito"></a>Añadir al carrito</button>
                                        </div>

                                        <div class="button">
                                            <div class="button-layer"></div>
                                            <a href="/products/detail/<%= producto.id %>"><button>Ver Detalles</button></a>
                                        </div>

                                    </div>
                                    <div class="swiper-pagination"></div>
                                <% }) %>
                            </div>
                        </div>
                    </div>
                </div>
                </section>
                <!-- customer's review section starts  -->

<!--                 <section class="review" id="review">

                    <h1 class="heading"> #SOBRE <span>NOSOTROS</span></h1>

                    <div class="box-container">

                        <div class="box">
                            <img src="/img/reviews/user-incog.jpg" class="user" alt="">
                            <h3>Federico Ángeles</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi nulla sit libero nemo fuga
                                sequi
                                nobis? Necessitatibus aut laborum, nisi quas eaque laudantium consequuntur iste ex
                                aliquam minus
                                vel? Nemo.</p>
                        </div>
                        <div class="box">
                            <img src="/img/reviews/user-incog.jpg" class="user" alt="">
                            <h3>Martín Avendaño</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi nulla sit libero nemo fuga
                                sequi
                                nobis? Necessitatibus aut laborum, nisi quas eaque laudantium consequuntur iste ex
                                aliquam minus
                                vel? Nemo.</p>
                        </div>

                        <div class="box">
                            <img src="/img/reviews/user-incog.jpg" class="user" alt="">
                            <h3>Agustín Sabando</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi nulla sit libero nemo fuga
                                sequi
                                nobis? Necessitatibus aut laborum, nisi quas eaque laudantium consequuntur iste ex
                                aliquam minus
                                vel? Nemo.</p>
                        </div>

                    </div>

                </section> -->

                <!-- customer's review section ends -->

                <!-- contact section starts  -->

                <section class="contact" id="contact">

                    <h1 class="heading"> <span>#contacta </span>con nosotros </h1>

                    <div class="contenedor-m">

                        <iframe class="map"
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1643.209209665209!2d-58.71295544171532!3d-34.54295988577898!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcbd0d7e07c78b%3A0xf879e262f796e21a!2sPlaza%20de%20San%20Miguel!5e0!3m2!1ses-419!2sar!4v1659146353832!5m2!1ses-419!2sar"
                            style="border:0;" allowfullscreen="" loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"></iframe>

                        <form action="https://formsubmit.co/tecnolifeg1@gmail.com" method="POST">

                            <div name="contact-form" class="inputBox">
                                <span class="fas fa-user"></span>
                                <input type="text" placeholder="Nombre" name="Nombre">
                            </div>

                            <div class="inputBox">
                                <span class="fas fa-envelope"></span>
                                <input type="email" placeholder="Email" name="Email">
                            </div>

                            <div class="inputBox">
                                <span class="fas fa-phone"></span>
                                <input type="number" placeholder="Teléfono" name="Teléfono">
                            </div>

                            <div class="inputBox">
                                <span class="fas fa-comment"></span>
                                <textarea class="textarea" type="comments" placeholder="Razón de contacto..."
                                    name="Comentario"></textarea>
                            </div>

                            <input type="submit" value="Contactar" class="btn-map">

                            <input type="hidden" name="_next" value="http://localhost:3000">

                            <input type="hidden" name="_captcha" value="false">

                        </form>

                    </div>

                </section>

                <!-- contact section ends -->

                <!-- button go up -->

                <div class="up" id="up">
                    <input type="button" class="text-up" value="Volver al inicio">
                    <span class="icon">
                        <i class="fas fa-chevron-up"></i>
                    </span>
                </div>



            </main>

            <%- include('./partials/footer') %>

                <!-- Scripts -->

                <script src="/js/header.js"></script>
                <script src="/js/search.js"></script>
                <script src="/js/slider.js"></script> <!-- Slider -->

                <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script> <!-- SweetAlert -->
                <script src="/js/welcome.js"></script> <!-- SweetAlert -->

                <!-- Swiper JS -->
                <script src="js/swiper-bundle.min.js"></script>

                <!-- Cards Swipper -->
                <script src="js/cardSwipper.js"></script>

    </body>

</html>