<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

<body>
  
  <%- include('./partials/header') %>

  <div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
      <form class = "formulario" action="/users/perfil/<%=locals.userLogin.id%>?_method=put" method="post" enctype="multipart/form-data">
      <div>
        <div class="d-flex flex-column align-items-center text-center p-3 py-5">
          <img class="rounded-circle mt-5" width="150px" src="/img/usuarios/<%=locals.userLogin.imagen%>">
          <span class="font-weight-bold"><%=locals.userLogin.nombre%></span><span class="text-black-50"><%=locals.userLogin.email%></span>
        </div>
      </div>
      <div>
        <div class="p-3 py-5">
          <div class="d-flex justify-content-center align-items-center mb-3">
            <h4 class="text-right">Configuración de perfil</h4>
          </div>
          <div class="row mt-2">
            <div class="col-md-6">
              <label class="labels">Nombre</label>
              <input type="text" name="nombre" class="form-control" placeholder="" value="<%=locals.userLogin.nombre%>">
            </div>
            <div class="col-md-6"><label class="labels">Apellido</label><input type="text"name="apellido" class="form-control" value=<%=locals.userLogin.apellido%>>
            </div>
          </div>
          <div class="row mt-3">

            <div class="col-md-12"><label class="labels">genero</label>
              <select name="genero" id="">
                <option value="Masculino">Masculino</option>
                  
                <option value="femenino">femenino</option>
                  
              </select>
            </div>
            <div class="col-md-12"><label class="labels">Dirección  </label><input type="text" name="direccion" class="form-control" placeholder="" value="<%=locals.userLogin.direccion%>">
            </div>
            <div class="col-md-12"><label class="labels">Código postal</label><input type="text" name="codigopostal" class="form-control" placeholder="" value="<%=locals.userLogin.codigopostal%>">
            </div>
            <div class="col-md-12"><label class="labels">Ciudad</label><input type="text" name="ciudad" class="form-control" placeholder="" value="<%=locals.userLogin.ciudad%>">
            </div>
            <div class="col-md-12"><label class="labels">Email</label><input disabled type="text" class="form-control" placeholder="" value=<%=locals.userLogin.email%>>
            </div>
            <input class = "subirFoto" type="file"name="imagen">
          </div>

          <div class="mt-5 text-center">
            <button class="btn btn-primary profile-button" type="submit">Guardar Perfil</button>
          </div>
        </div>
      </div>
    </form>
    <form action="/users/logout?_method=DELETE" method="post">
      <button type="submit"><i class="fas fa-power-off"></i> Cerrar sesion</button>
    </form>
    </div>
  </div>

  <%- include('./partials/footer') %>

</body>
<!-- MDB -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.4.0/mdb.min.js"></script>

</html>