<!DOCTYPE html>
<html lang="es">

    <%- include('./partials/head') %> 

<body class="register">

    <%- include('./partials/header') %> 

    <main>
        <h1 class="mb-2">Crear cuenta</h1>
        <form action="" method="post">
            <div class="container bottom">
                <input type="text" name="name" id="name" placeholder="Ingresa tu nombre y apellido" value="<%= locals.old && old.name ? old.name : null%>">
                <% if (locals.errors && errors.name) { %>
                    <small><%= errors.name.msg %></small>
                <% } %>
            </div>
            <div class="container bottom">
                <input type="text" name="email" id="email" placeholder="Ingresa tu email"value="<%= locals.old && old.email ? old.email : null%>" required>
                <% if (locals.errors && errors.email) { %>
                    <small><%= errors.email.msg %></small>
                <% } %>
            </div>
            <div class="container bottom">
                <input type="password" name="pass" id="pass"value="<%= locals.old && old.pass ? old.pass: null %>" placeholder="Ingresa tu contraseña" required>
                <% if (locals.errors && errors.pass) { %>
                    <small><%= errors.pass.msg %></small>
                <% } %>                
            </div>
            <div class="container bottom">
                <input type="password" name="pass2" id="pass2" value="<%= locals.old && old.pass2 ? old.pass2: null %>" placeholder="Confirme su contraseña" required>
                <% if (locals.errors && errors.pass2) { %>
                    <small><%= errors.pass2.msg %></small>
                <% } %>                    
            </div>
            <div class="button">
                <button class = "spacing">REGISTRARSE</button>
                <p>¿Ya tenés creada una cuenta?</p>
                <p><a class="link" href="/users/login">Inicia sesión aquí</a></p>
            </div>
        </form>
    </main>

    <%- include('./partials/footer') %> 
</body>



</html>