<!DOCTYPE html>
<html lang="en">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
<body>
    <main class="create">
        <!-- Titulo -->
        <h1 class="text-center pt-5 pb-5">Creando un producto nuevo </h1>
        <!-- Comienzo del Formulario -->
        <form action="" method="POST" enctype="multipart/form-data">
            <!-- Contenedor de imagenes y Principales -->
            <div class="container">
                <div class="row justify-content-between align-items-center">
                    
                    <!-- Principales -->
                    <div class="col col-lg-4 col-md-12 col-sm-12">
                        <div class="form-floating mb-3"> 
                            <input type="text" class="form-control" name="Titulo" placeholder="Nombre del producto" id="Titulo" value="<%= locals.old && old.Titulo ? old.Titulo : null%>">
                            <label for="Titulo">Nombre del producto</label>
                            <p class="span text-danger">
                                <%= locals.errors && errors.Titulo ? errors.Titulo.msg : null %>
                            </p>
                        </div>
                        <div class="form-floating mb-3">
                            <input class="form-control" type="text" name="marca" placeholder="Marca del Producto" id="brand" value="<%= locals.old && old.marca ? old.marca : null%>">
                            <label class="form-label" for="brand">Marca del Producto</label>
                            <% if (locals.errors && errors.marca) { %>
                                <p class="span text-danger"><%= errors.marca.msg %></p>
                            <% } %>
                        </div>
                        <div class="form-floating mb-3">
                            <input class="form-control" type="number" name="Precio" placeholder="Precio del producto" id="price" value="<%= locals.old && old.precio ? old.precio : null%>">
                            <label class="form-label" for="price">Precio del producto</label>
                            <p class="span text-danger">
                                <%= locals.errors && errors.Precio ? errors.Precio.msg : null %>
                            </p>
                        </div>
                        <div class="form-floating mb-3">
                            <input class="form-control" type="number" name="Descuento" placeholder="Descuento del producto" id="discount" value="<%= locals.old && old.descuento ? old.descuento : 0%>">
                            <label class="form-label" for="discount">Descuento del producto</label>
                            <p class="span text-danger">
                                <%= locals.errors && errors.Descuento ? errors.Descuento.msg : null %>
                            </p>
                        </div>
                        <div class="form-floating mb-3">
                            <input class="form-control" type="text" name="Stock" placeholder="Stock con el que cuenta el producto" id="stock" value="<%= locals.old && old.stock ? old.stock : null%>">
                            <label class="form-label" for="stock">Stock con el que cuenta el producto</label>
                            <p class="span text-danger">
                                <%= locals.errors && errors.Stock ? errors.Stock.msg : null %>
                            </p>
                        </div>
                    </div>

                    <!-- Imagenes!  -->
                    
                    <div class="col col-lg-7 col-md-12 col-sm-12">
                        
                        <section class="img-product">
                            <div class="container">
                                <div class="row">
                                    <!-- Imagen 1 -->
                                    <div class="col col-5">
                                        <label class="selectImg" for="product-img">
                                            <img id="img-preview" class="img-fluid img-thumbnail imagen-height rounded" src="/img/products/default-image.png" alt="">
                                            <div class="imgHover">
                                                <p class="text-center">Selecionar Imagen 1</p>
                                            </div>
                                        </label>
                                        <div class="form-admin__box inactivo">
                                            <input class="d-none" id="product-img" type="file" name="imagen" placeholder="Imagen del Producto" multiple>
                                        </div>
                                    </div>
                                    <!-- Imagen 2 -->
                                    <div class="col col-5">
                                        <label class="selectImg" for="product-sub-img-1">
                                            <img id="sub-img-preview-1" class="img-fluid img-thumbnail  imagen-height rounded" src="/img/products/default-image.png" alt="" >
                                            <div class="imgHover">
                                                <p class="text-center">Selecionar Imagen 2</p>
                                            </div>
                                        </label>
                                        <div class="form_desciption__box inactivo">
                                            <input class="d-none" id="product-sub-img-1" type="file" name="imagen" placeholder="Imagen del Producto">
                                        </div>
                                    </div>
                                    <!-- Imagen 3 -->
                                    <div class="col col-5">
                                        <label class="selectImg" for="product-sub-img-2">
                                            <img id="sub-img-preview-2" class="img-fluid img-thumbnail imagen-height rounded" src="/img/products/default-image.png" height="auto" alt="" >
                                            <div class="imgHover">
                                                <p class="text-center">Selecionar Imagen 3</p>
                                            </div>
                                        </label>
                                        <div class="form_desciption__box inactivo">
                                            <input class="d-none " id="product-sub-img-2" type="file" name="imagen" placeholder="Imagen del Producto">
                                        </div>
                                    </div>
                                    <!-- Imagen 4 -->
                                    <div class="col col-5">
                                        <label class="selectImg" for="product-sub-img-3">
                                            <img id="sub-img-preview-3" class="img-fluid img-thumbnail imagen-height rounded" src="/img/products/default-image.png" alt="" >
                                            <div class="imgHover">
                                                <p class="text-center">Selecionar Imagen 4</p>
                                            </div>
                                        </label>
                                        <div class="form_desciption__box inactivo">
                                            <input class="d-none" id="product-sub-img-3" type="file" name="imagen" placeholder="Imagen del Producto">
                                        </div>
                                    </div>
                                    <!-- Columnas -->

                                </div>
                                <p class="span text-danger">
                                    <%= locals.errors && errors.imagen ? errors.imagen.msg : null %>
                                </p>
                            </div>
                        </section>
                    </div>
                    <!-- Fin del contenido principal -->
                </div>
            </div>
            
            <div class="container">
                <div class="row">
        
                    <!-- Selects  -->
                    <div class="container m-3" >
                        <div class="row justify-content-around align-items-center">
                            <div class="col col-4">
                                <h3 class="text-center">Categorias</h3>
                                <select class="form-select" name="Categoria" id="floatingSelect" aria-label="Floating label select example">
                                    <% if (locals.errors && old.Categoria) { %>
                                        <option hidden value="">Selecciona una opcion</option>
                                        <option <%= old.Categoria === "Smartphones" ? "selected" : null %>  value="Smartphones">Smartphones</option>
                                        <option <%= old.Categoria === "Tablets" ? "selected" : null %>   value="Tablets">Tablets</option>
                                        <option <%= old.Categoria === "Notebooks" ? "selected" : null %>   value="Notebooks">Notebooks</option>
                                    <% }else{ %>
                                        <option selected hidden value="">Selecciona una opcion</option>
                                        <option value="Smartphones">Smartphones</option>
                                        <option value="Tablets">Tablets</option>
                                        <option value="Notebooks">Notebooks</option>
                                    <% } %> 
                                  </select>
                                  <p class="span text-danger">
                                    <%= locals.errors && errors.Categoria ? errors.Categoria.msg : null %>
                                </p>
                            </div>

                        </div>
                    </div>
                    <div class="container m-3" >
                        <div class="row">
                            <div class="col col-12">
                                <div class="form-floating"> 
                                    <textarea name="Descripcion" id="Descripcion" cols="300" rows="300" class="form-control" placeholder="Leave a comment here" style="resize: none;"><%= locals.old && old.Descripcion ? old.Descripcion : null%></textarea>
                                    <label for="Descripcion">Descripcion del producto</label>
                                </div>
                                <p class="span text-danger">
                                    <%= locals.errors && errors.Descripcion ? errors.Descripcion.msg : null %>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Button -->
            <div class="create-button text-center mt-5 pb-5">
                <button class="btn btn-primary" type="submit">Crear producto</button>
            </div>
        </form>
    </main>
</body>
</html>