<!DOCTYPE html>
<html lang="es">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
<!-- font awesome cdn link  -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

<body>
  <main>
    <h1>Admin</h1>
    <a href="/admin/create">
      <button type="button" class="btn btn-primary">Crear Producto</button>
    </a>
    <a href="/admin/<%= redirection %>">
      <button type="button" class="btn btn-primary">
        <%= redirection==="history" ? "Historial Productos" : "Listado de Productos" %>
      </button>
    </a>
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Marca</th>
            <th scope="col">Nombre</th>
            <th scope="col">producto</th>
            <th scope="col">stock</th>
            <th scope="col">Precio</th>
            <th scope="col">Des</th>
            <th scope="col">Accion</th>
          </tr>
        </thead>
        <tbody>
          <% productos.forEach(producto=> { %>
            <tr>
              <th scope="row"><a href="/admin/edit/<%= producto.id %>"><%= producto.id %></a></th>
              <td><a href="/admin/edit/<%= producto.id %>"><%= producto.marca %></a></td>
              <td colspan="2"><a href="/admin/edit/<%= producto.id %>"><%= producto.titulo %></a></td>
              <td><a href="/admin/edit/<%= producto.id %> "><%= producto.stock %></a></td>
              <td><a href="/admin/edit/<%= producto.id %> "><%= producto.precio %></a></td>
              <td><a href="/admin/edit/<%= producto.id %> "><%= producto.descuento %></a></td>
              <td>
                <div>
                  <a href="/admin/edit/<%= producto.id%>">
                    <button type="button" class="btn btn-success"><i class="fas fa-edit"></i></button>
                  </a>

                  <% if (redirection !== "list") { %>
                    <form action="/admin/destroy/<%= producto.id%>?_method=DELETE" method="post">
                      <button type="submit" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
                    </form>
                  <% }else{ %>
                    <form action="/admin/restore/<%= producto.id%>?_method=DELETE" method="post">
                      <button type="submit" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
                    </form>
                  <% } %>
                </div>
              </td>
            </tr>
            <% }) %>
        </tbody>
      </table>
    </div>
  </main>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>